* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: #111827;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.search-box input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    background: #3b82f6;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* GRID */
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 25px;
    padding: 40px;
}

/* CARD */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #666;
}

.card-content a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3b82f6;
    font-weight: bold;
}

/* LOADER */
.loader {
    margin: 40px auto;
    border: 6px solid #eee;
    border-top: 6px solid #3b82f6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

/* ERROR */
.error {
    text-align: center;
    color: red;
    margin-top: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .news-grid {
        padding: 20px;
    }
    
}
