*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-family:'Poppins', sans-serif;

}

body{

    color:rgb(199, 179, 206) ;
    height: 580vh;
    overflow-x: hidden;
    background:  rgb(15, 0, 27);
}

main{

   margin: 0 10%; 
}
header{
    display: flex;
    justify-content: center;

}
.logo{
    display: flex;
    align-items: center;
    visibility: hidden;
}
.logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* .navBar {
     display: flex;
     justify-content: center;
     align-items: center;
} */
.navBar .btnResponsive {
    display: none;
    color: aliceblue;
    font-size: 30px;
   }

#navigation{
    bottom: 0;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    position: fixed;
    border: 0.1px solid rgb(199, 179, 206);
    backdrop-filter: blur(1.5px);
    justify-content: center;
    z-index: 1;
}
.onglets{
    display: flex;
    justify-content: center;
    margin: 0 220px;
}
.onglets li {
    margin: 0 15px;
    list-style-type: none;
    font-size: 20px;
    }

.onglets a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}
.onglets a:hover {
    font-size: 24px;
    text-decoration:line-through;
    color: rgb(204, 156, 248);  
    transition: 0.7s ease-in-out; 
}
.btnContacter a{
    background: rgb(43, 34, 51);
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    color: rgb(132, 111, 248);
    font-weight: bold;
}
.btnContacter a:hover{
    background: rgb(139, 110, 165);
    color: rgb(244, 243, 247);
    transition: 0.5s ease-in-out;
}
#home{
    display: flex;
    justify-content: center;
}
.article1{
    width: 90%;
    height:55vh;
    margin: 10%;
    padding: 10px;
    justify-items: center;  
    box-shadow: 1px 1px 1px 1px rgb(110, 109, 109);
    border-radius: 15px; 
}
#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 20px;
}
.description p{
    padding: 10px;
    font-size: 25px;
    color:rgb(114, 100, 117) ;
    text-align: justify;
}
.description .salut{
    font-size: 20px;
}
.description .nom{
        color:rgb(238, 216, 247) ;

    font-weight: bold;
}
.description .fonction{
    font-size: 30px;
}
.description span{
        color:rgb(126, 51, 248) ;
}
.reseau{
    padding: 10px;
    display: flex;
    list-style-type: none;
}
.reseau img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.reseau img:hover{
    width: 33px;
    height: 33px;
    transition: 0.5s ease-in-out;
}

.photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:rgb(175, 154, 194);
}
.photo img:hover{
      width: 210px;
    height: 210px;
    transition: 0.5s ease-in-out;
    transform: translateX(5px);
    background:rgb(155, 128, 179);
}
.connect {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}
.connect p{
    color: aliceblue;
    
}
h1{
    animation-name: monAnim;
    animation-direction: reverse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes monAnim{
    50%{
        color: rgb(220, 178, 221);
    }
}
/* Section about */
#about{
    width: 100%;
    display: flex;
    margin: 11% 0;

}
.aboutMe{
    margin-right: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border: 1px solid white;  
    border-radius: 10px;
}

.contenu{
    width: 70%;
}
.contenu h1{
    font-size: 50px;
    padding: 10px;
    color: azure;
}
.contenu p{
    font-size: 20px;
    text-align: justify;
    color:rgb(199, 179, 206) ;

}
.contenu .aboutIcons ul {
    list-style-type: none;
    display: block;
    list-style-type: none;
    justify-content: space-around;
}
 .aboutIcons .icons{
   display: flex;
   margin: 50px;
   justify-content: center;
   text-align: justify;
}
.contenu .aboutIcons img{
    width:35px;
    height: 60px;
    margin:0 5px;
}
/* Section skills  */
#skills {
    width: 100%;
    display: flex;
    margin: 14% 0;
}

#skills .contenu {
    width: 100%;
}

#skills h1 {}
#skills .containerSkills{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills p {
    margin-right: 40px;
}

#skills  #cercleExterne{
    font-size: 15px;
    min-width: 30% ;
    height: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(90deg,rgb(27, 27, 27),rgb(173, 122, 152),rgb(27, 27, 27));
     
}

#skills #cercleExterne ul,a{
    list-style-type: none;
    text-decoration: none;
}

/* Section Projects */

#projects {
    width: 100%;
    display: flex;
    margin: 7% 0;
}

#projects .contenu {
    width: 100%;
}
#projects .project{
    justify-content: center;
   align-items: center;
}
#projects .project .projectContainer{
}
#projects .project ul{
    margin: 8%;
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#projects .project img{
    width: 250px;
    height: 250px;
     text-align: center;
    border-radius: 50%;
}
#projects .project img:hover{
     width: 253px;
    height: 253px;
   transition: 0.6s ease;
}
#projects h1 {}

#projects p {
}

.bubble-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 30px;
  height: 30px;
  background: rgba(245, 169, 252, 0.5);
  border-radius: 50%;
  animation: rise 10s infinite ease-in;
}

.bubble:nth-child(2) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-duration: 12s;
}

.bubble:nth-child(3) {
  left: 40%;
  animation-duration: 8s;
}

.bubble:nth-child(4) {
  left: 60%;
  width: 25px;
  height: 25px;
  animation-duration: 14s;
}

.bubble:nth-child(5) {
  left: 80%;
  animation-duration: 15s;
}
@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(2);
    opacity: 0.4;
  }
100%{
    transform: translateY(-120vh) scale(1.5);
    opacity: 0.3;
  }
}

/* Section contact */

#contact {
    width: 100%;
    min-width: 100%;
}

#contact .contenu {
    width: 100%;
    margin: 10% 0;
}

#contact h1 {}

#contact p {}
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts .formulaire{
    width: 45%;
    margin-top: 3%;
    margin-right: 1%;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    background: linear-gradient(45deg,rgb(49, 42, 51),rgb(15, 0, 29));
}
.formulaire #form input,textarea{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(43, 34, 51);
    background: rgb(199,179,206);

}
.formulaire #form input{
    height: 30px;
    margin-bottom: 15px;
}
.formulaire #form textarea{
    height: 90px;
    margin-bottom: 20px;

}
/* je reprends ici */
 .formulaire #form #envoie{ 
    width: 102%;
    height: 40px; 
    font-size: 25px;
    font-weight: bold;
}
 .formulaire #form #envoie:hover{ 
    background: rgb(219, 170, 236);
    transition:0.8s ease-out;
    color:rgb(15, 0, 27);
    font-size: 26px;
}

.contacts .localisation{
    margin-top: 60px;
    width: 45%;    
}
iframe{
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg,rgb(49, 42, 51),rgb(15, 0, 29));
}

footer{
    width: 100%;
    height: 80vh;
}  
.contenuFoot{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 57%;
    margin: 50px;
    padding: 60px;
    border-radius: 15px;
    border: 2px solid rgb(96, 81, 100);
    color: darkgray;
}
.contenuFoot .mail{
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(96,81,100);
}
.contenuFoot .mail a{
    text-decoration: none;
    color: rgb(199,179,206);
}
.reseauFoot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
.reseauFoot .copy{
        color: rgb(199,179,206);
}
.reseauxF ul{
    list-style-type: none;
    text-align: justify;
    font-size: 20px;
}
.reseauxF a{
    text-decoration: none;
    color: rgb(199,179,206);
}
.reseauxF a:hover {
    text-decoration:line-through;
    color: rgb(204, 156, 248);  
    transition: 0.8s ease-in-out; 
}
.ongletsF ul{
    list-style-type: none;
    text-align: justify;
    font-size: 20px;
}
.ongletsF a{
    text-decoration: none;
    color: rgb(199,179,206);
}
.ongletsF a:hover {
    text-decoration:line-through;
    color: rgb(204, 156, 248);  
    transition: 0.8s ease-in-out; 
}
footer .right{
    text-align: center;
    margin-top: -35px;
}


/* le responsive pour les tablettes*/
/* 1  screen de moins de 1200px */
@media screen and (max-width:1200px){
#navigation{
    width: 90%;
    max-width: 100%;
}
.btnContacter a{
    display: none;
}
footer{
    width: 100%;
   height: 80vh;
}  
}

/* 2 Screen de moins de 920px */
@media screen and (max-width:920px){
body{

    height: 400vh;
    overflow-x: hidden;
}
main{

   margin: 0 3%; 
}

footer{
    width: 100%;
    height: 50vh;
}  
}

/* responsive pour les petits mobiles */
@media screen and (max-width:768px){
    html,body{
         width: 100%;
        max-width: 100%;
        overflow-x: hidden; 
    }
       .logo{ 
        padding: 15px;
        position: fixed;
        z-index: 5;
        visibility: visible;
    }
    .contenu p{
        padding: 5px 3px;
        border-radius: 15px;
        background-color: linear-gradient((70, 57, 83),);  
        box-shadow: 6px 1px 1px rgb(153, 108, 147);
    }
    .contacts{
        margin-bottom: 5rem;
    }

 .btnResponsive{
    margin-left: 9em;
    display: flex;
    font-size: 28px;
}

  #navigation{
    width: 88%;
    display: flex;
    height: 95vh;
    border: none; 
    z-index: 4;
    backdrop-filter: blur(5px); 
} 
.navR{
    visibility: hidden;
    }  

.onglets{
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   }
.onglets a{
        font-size: 40px;
    }
.onglets a:hover{
        text-decoration: line-through;
        color: rgb(184, 92, 238);
        transition: 1s ;
        transform: scaleX(4);
    }
     #navigation .btnContacter{
       display: none;
    }
   #home .article1{
    display: none;
   }
   
.connect{
    display: none;
}
#about{
    display: block;
    margin: 50px 0;
}
#about .aboutMe{
    width: 100%;
    border: none;
    justify-content: center;
    text-align: center;
}
#about .contenu {
    justify-content: center;
    width: 100%;
}
#about .contenu p{
  text-align:justify;
}
.contenu .aboutIcons ul{
    display: block;
    justify-content: center;
    list-style-type: none;
}
.contenu .aboutIcons .icons{
    display: flex;
}
/* section skills */
#skills{
    display: flex;
}
#skills .containerSkills{
    width: 100%;
    justify-content: center;
    display: block;
}
#skills .contenu p{
    width: 100%;
    text-align: center;
  text-align:justify;
}
#skills #cercleExterne{
    width: 100%;
    height: 300px;
    margin: 30px 0;
}
/* section projet */
#projects{
   
    width: 100%;
    justify-content: center;
}
 #projects .project{
    width: 100%;
    justify-content: center;
 } 
#projects .projectContainer{
    margin-top: 10%;
} 
#projects .project ul{ 
    margin: 0;
    display: flex;
    justify-content: center;
     width: 100%;
     flex-wrap: wrap;
}
/* #projects .project img{
    width: 200px;
    height: 200px;
     text-align: center;

    border-radius: 50%;
} */

 
/* section contact */
#contact{
    width: 100%;
    display: block;
    justify-content: center;
}
.contacts{
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
}
iframe{
    width: 100%;
}
.contacts .localisation{
    margin: 50px 0;    
    width: 100%;
    justify-content: center;
}
.contacts .formulaire{
    width: 100%;
}

footer .contenuFoot{
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 99%;
    height: 60vh;
    align-items: center;
} 

.contenuFoot .mail{
    font-size: 25px;
    padding: 10%;
}
.reseauFoot{
    padding-top: 4%;
}
footer{
    width: 100%;
    height: 70vh;
} 
}





